body{
  margin: 0;
  overflow-x: hidden;
  background-color: #D2B48C;
  background-size: cover;
}

.title{
  color: #fff;
  font-family: 'Gurmukhi MN',sans-serif;
  font-size: 20px;
}

a{
  color: #fff;
  text-decoration-line: underline;
  font-family: 'Gurmukhi MN',sans-serif;
}

.container{
  text-align: center;
}

.login{
  margin: 0;
  width: 100%;
  height: 600px;
}

.login input[type=text]{
  margin-bottom: 20px;
  border: 1px solid rgba(255,255,255,0.8);width: 250px;
  height: 30px;
  background: transparent;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  font-family: 'Gurmukhi MN',sans-serif;
}

.login input[type=button]{
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Gurmukhi MN',sans-serif;
  }

.login input[type=button]:active{
-webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.login input[type=button]:hover{
    opacity: 0.8;
}

.login input[type=button]:active{
    opacity: 0.6;
}

.login input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}

.btn {
  width: 260px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  font-family: 'Gurmukhi MN',sans-serif;
}

.btn:active {
  -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.btn{
  width: 260px;
  height: 35px;
}

.newAccount{
  position: relative;
  bottom: 300px;
}

h2{
  font-size: 14px;
  font-family: 'TsukuARdGothic-Regular',sans-serif;
  color: #fff;
}
